
<!-- <app-settings></app-settings><app-manage></app-manage> -->
<!-- <a href="http://localhost:4200/Settings">http://localhost:4200/Settings</a><br>
<a href="http://localhost:4200/Manage">http://localhost:4200/Manage</a> -->
<!-- 
<button type="button"  data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centerd" role="document">
      <div class="modal-content" style="height: 600px;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <iframe src="http://localhost:53760/Manage?tenantuuid=6362a2c8-f247-4347-8fde-bd3b3c922c70&useruuid=2115f0a5-8c6c-45a7-83c8-79b34eb7f67a" width="100%" height="100%">
            </iframe>
      </div>
    </div>
  </div>
  </div> -->


  

<!-- <button>Addon Setting</button><button>Call Recording Setting</button> -->
 <router-outlet></router-outlet>

