<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings App</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <!-- MAIN MODAL SETTINGS BUTTON  (click)="noGroupFlag=0"-->

  <button type="button" data-toggle="modal" data-target="#exampleModalCenter" (click)='getdbdata()'  ><i
      class="fa fa-wrench"></i>
    Settings
  </button>

  <!-- API BUTTON -->

  <button type="button" (click)='mockfunction()'>api</button>
  <!-- <br> -->
  <!-- <div *ngFor='let item of dataArray'>
    <div>{{item.firstname}} {{item.lastname}}</div>
  </div>-->


  <!-- MAIN MODAL   modal-lg modal-dialog-centered-->

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" data-backdrop='static'
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centerd ">

      <div class="modal-content" style="height:850px; ">




        <!-- MAIN MODAL HEADER (click)="CanOpen()" -->

        <div class="modal-header" style="border-bottom:0 none;margin-top: -10px;margin-left: -10px;">
          <p class="modal-title" id="exampleModalCenterTitle"><b>Call Recording Settings</b></p>
          <button type="button"data-dismiss="modal" (click)="CloseModalOnCross()" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>


        <!-- MAIN MODAL BODY -->

        <div class="modal-body" style="height: 7.45in;">
          <div class="container-fluid" style="padding: 0px 0px 0px 0px">



            <!-- NO GROUP PAGE -->
            <div *ngIf="isOn&&noGroupFlag == 0">
              <h5>Groups</h5>
              <div class="row" style="height: 7in;">
                <div class="col-md-4 offset-4">
                  <div align="center" id="newGroup">You have no groups
                    <br> <a style="font-size: 11pt;">Set up groups to control access to<br> call
                      recordings</a><br><br>
                    <button (click)="NewGroup()" id="grpbtn">New group</button>
                  </div>
                </div>
              </div>
            </div>





            <!-- MAIN PAGE BEGINS -->

            <div class="row" style="height: 7.45in;" *ngIf="!isOn || noGroupFlag == 1 ">
              <div class="col-md-4"
                style="padding: 0px 20px 0px 10px;height: 8in;border-right: 1px solid rgb(231, 231, 231);">
                <h5>Groups</h5>
                <button id="buttonstyle" style="float: right;margin-left:5px;margin-bottom: 10px;margin-right: 2px;"
                  (click)="addgroup()||addgroupbutton=true">Add</button>

                <input class="form-control mr-sm-2" id="myInput2" type="text" [(ngModel)]="term3" placeholder="Search"
                  aria-label="Search">
                <br>


                <!-- <div>

                  <ul style="list-style-type:none; padding: 0; margin: 0;">
                    <li *ngFor="let recipient of getKeys(map)|mfilter: term3">
                      <button id="leftList" (click)="showdata(recipient)"
                        style="font-size: 9pt;float: left; "><b>{{recipient}}</b> <a
                          style="opacity: 80%; font-size: 8pt; float: right;"> {{map.get(recipient).memberLength}}
                          members, {{map.get(recipient).managerLength}} managers</a></button>
                    </li>
                  </ul>

                  <div> <button style="font-size: 10pt;" id="leftList" *ngIf="addFlag==1"><b>{{groupName}}</b></button>
                  </div>

                </div> -->

                <!-- (click)="showdata(item.GroupId)||added=true" -->

                <!-- |mfilter: term3 -->




                <!-- GROUPS BUTTONS -->

                <div ><button *ngFor='let item of dataArray' (click)="showdata(item.GroupId)||saveUpdate=true" style="font-size: 10pt;" id="leftList">
                  {{item.Groupname}}</button>
                </div>
                
                <!-- NEW GROUP BUTTON -->

                <div ><button *ngIf="addgroupbutton==true&&addFlag==1" style="font-size: 10pt;" id="leftList">
                  {{groupName}}</button>
                </div>
              </div>






              <!-- RIGHT COLUMN CODE -->

              <!-- GROUPNAME -->
  
              <div class="col-md-8" *ngIf="addgroupbutton==true" style="height: 7.45in;padding-right:20px;">
                <label>Name</label>
                <input class="form-control" [(ngModel)]="groupName" type="text" placeholder="Enter Name"
                  aria-label="name" style="height:5.5%;">
                <br>

                <!-- NAV TABS -->

                <nav>
                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                      aria-controls="nav-home" aria-selected="true">Members <span
                        class="badge">{{numberMember}}</span></a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                      aria-controls="nav-profile" aria-selected="false">Managers <span
                        class="badge">{{numberManager}}</span></a>
                  </div>
                </nav>
                <br>

                <!-- NAV CONTENTS -->


                <div class="tab-content" id="nav-tabContent">


                  <!-- MEMBER TAB -->


                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


                   <!-- NG SELECT MEMBER DROPDOWN -->


                    <div class="row">
                      <div class="col-md-12" style="padding-right: 0px;">
                        <label *ngIf="numberMember==0">New Member</label><br *ngIf="numberMember==0">
                        <label *ngIf="numberMember > 0">Add Member</label><br *ngIf="numberMember > 0">

                        <ng-select class="customSelect" #eleme2 [items]="item$| async" bindLabel="first_name"
                          [minTermLength]="2" typeToSearchText="Please enter 3 or more characters" notFoundText=""
                          [typeahead]="peopleInput$" [(ngModel)]="selectedPersons1"
                          placeholder="Start typing a username" appendTo="body" [ngModelOptions]="{standalone: true}">
                          <!-- <ng-template ng-label-tmp let-item="item">
                             <table>
                                <tr>
                                  <td> {{item['first_name']}} {{item['last_name']}}</td> 
                                  <td style="text-align: right; color: gray;">{{item['user_guiname']}}</td>
                                </tr>
                              </table>
                            </ng-template> -->
                          <ng-template ng-option-tmp let-item="item" let-index="index">

                            <table>
                              <tr>
                                <td> {{item['first_name']}} {{item['last_name']}}</td>
                                <td style="text-align: right; color: gray;">{{item['user_guiname']}}</td>
                              </tr>
                            </table>
                          </ng-template>
                        </ng-select>
                        <!-- </div> -->

                        <!-- <div class="col-md-2"> -->
                        <!-- style="height: 48%; margin-top: 54%;margin-right: 50%; font-size:10pt;width: 1.5cm;" -->


                        <!-- ADD MEMBERS BUTTON -->

                        <button (click)="OnAdd()" id="buttonstyle" type="button">Add</button>
                      </div>
                    </div>



                    
                    <div *ngIf="numberMember > 0" style="margin-top: 10px;">

                    <!-- SEARCH FILTER FOR SELECTED MEMBERS    -->

                      <label>Selected Members</label>

                      <input class="form-control mr-sm-2" id="myInput" type="text" placeholder="Search "
                        aria-label="Search" name="term2" [(ngModel)]="term2" style="height: 50%;">


                      <br>

                      <div class="list" style="height: 3.5in;">

                        <!-- |mfilter: term2 -->


                        <!-- SELECTED MEMBERS TABLE -->

                        <table id="myTable">
                          <tr *ngFor="let item of selectedPersonsArr1 | paginate: config ,let i=index">

                            <td> {{item[0]}} {{item[1]}}</td>
                            <td style="text-align: right; color: gray;">{{item[2]}}</td>

                            <td style="text-align: center;"> <a id="crossButton"
                                (click)="removeFromList(item,0)"><i class="fa fa-times-circle"
                                  style="color:rgb(182, 179, 179);"></i></a></td>


                          </tr>

                        </table>
                      </div>

                      <!-- PAGINATION FOR MEMBERS TAB -->

                      <pagination-template #p="paginationApi" [id]="config.id"
                        (pageChange)="config.currentPage = $event" *ngIf="selectedPersonsArr1.length >= 10">


                        <div class="custom-pagination" style="width: 1.75in; color: rgb(9, 56, 211);  ">
                          <table id="pagenum">
                            <tr>
                              <td class="pagination-first"> <a class="pageAnchor" (click)="p.setCurrent(1)"> First </a>
                              </td>
                              <td class="pagination-previous" [class.disabled]="p.isFirstPage()"><a class="pageAnchor"
                                  (click)="p.previous()"> Prev </a></td>
                              <td *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                                <a class="pageAnchor" (click)="p.setCurrent(page.value)"
                                  *ngIf="p.getCurrent() !== page.value">
                                  <span>{{ page.label }}</span>
                                </a>
                                <div *ngIf="p.getCurrent() === page.value">
                                  <span>{{ page.label }}</span>
                                </div>
                              </td>
                              <td class="pagination-next" [class.disabled]="p.isLastPage()"> <a class="pageAnchor"
                                  (click)="p.next()"> Next
                                </a></td>
                              <td class="pagination-last"><a class="pageAnchor" (click)="p.setCurrent(p.getLastPage())">
                                  Last </a></td>
                            </tr>
                          </table>
                        </div>

                      </pagination-template>

                    </div>


                    
                     <!-- WHEN NO MEMBER IS ADDED -->

                    <div id="noNames" *ngIf="numberMember==0">There are no members.
                      <br> <a style="font-size: 10pt;">Start typing a name above to add<br>a member.
                      </a><br><br>

                    </div>


                  </div>

                  <!-- MANAGER TAB -->


                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">


                    <div class="row">
                      <div class="col-md-12" style="padding-right: 0px; ">

                        <!-- NG SELECT FOR MANGER DROPDOWN -->

                        <label *ngIf="numberManager==0">New Manager</label><br *ngIf="numberManager==0">
                        <label *ngIf="numberManager > 0">Add Manager</label><br *ngIf="numberManager > 0">


                        <ng-select #elem [items]="item$ | async" [typeahead]="peopleInput$" bindLabel="first_name"
                           [minTermLength]="2" placeholder="Start typing a username"
                          [(ngModel)]="selectedPersons" [ngModelOptions]="{standalone: true}" [hideSelected]="true"
                          typeToSearchText="Please enter 3 or more characters" notFoundText="" appendTo="body" id="groupManager">
                          <ng-template ng-option-tmp let-item="item" let-index="index">

                            <table>
                              <tr>
                                <td> {{item['first_name']}} {{item['last_name']}}</td>
                                <td style="text-align: right; color: gray;">{{item['user_guiname']}}</td>
                              </tr>
                            </table>
                          </ng-template>

                        </ng-select>


              
                         <!-- ADD BUTTON FOR MANAGERS -->

                        <!-- <div class="col-md-2"> -->
                        <button id="buttonstyle" (click)="OnAdd1()">Add</button>
                      </div>
                    </div>

                    <div *ngIf="numberManager > 0" style="margin-top: 10px;">

                      <!-- SEARCH FILTER FOR SELECTED MANAGERS -->


                      <label>Selected Managers</label>
                      <input class="form-control mr-sm-2" id="myInput1" type="text" placeholder="Search"
                        [(ngModel)]="term" style="height: 50%;">
                      <br>

                      <div class="list" style="height: 3.5in;">
                        <!-- | mfilter:term -->

                        <!-- TABLE FOR SELECTED MANGERS -->

                        <table id="myTable">
                          <tr *ngFor="let item of selectedPersonsArr | paginate: config1 ,let i=index">
                            <td> {{item[0]}} {{item[1]}}</td>
                            <td style="text-align: right; color: gray;">{{item[2]}}</td>

                            <td style="text-align: center;"> <a id="crossButton"
                                (click)="removeFromList(item,1)"><i class="fa fa-times-circle"
                                  style="color:rgb(182, 179, 179);"></i></a></td>
                          </tr>

                        </table>
                      </div>

                      <!-- PAGINATION FOR MANAGERS -->

                      <pagination-template #q="paginationApi" [id]="config1.id"
                        (pageChange)="config1.currentPage = $event" *ngIf="selectedPersonsArr.length >= 10">


                        <div class="custom-pagination" style="width: 1.75in; color: rgb(9, 56, 211);  ">
                          <table id="pagenum1">
                            <tr>
                              <td class="pagination-first"> <a (click)="q.setCurrent(1)"> First </a></td>
                              <td class="pagination-previous" [class.disabled]="q.isFirstPage()"><a
                                  (click)="q.previous()"> Prev </a></td>
                              <td *ngFor="let page of q.pages" [class.current]="q.getCurrent() === page.value">
                                <a (click)="q.setCurrent(page.value)" *ngIf="q.getCurrent() !== page.value">
                                  <span>{{ page.label }}</span>
                                </a>
                                <div *ngIf="q.getCurrent() === page.value">
                                  <span>{{ page.label }}</span>
                                </div>
                              </td>
                              <td class="pagination-next" [class.disabled]="q.isLastPage()"> <a (click)="q.next()"> Next
                                </a></td>
                              <td class="pagination-last"><a (click)="q.setCurrent(q.getLastPage())"> Last </a></td>
                            </tr>
                          </table>
                        </div>

                      </pagination-template>

                    </div>

                    <!-- WHEN NO MANGER IS ADDED -->

                    <div id="noNames" *ngIf="numberManager==0">There are no managers.
                      <br> <a style="font-size: 10pt;">Start typing a name above to add<br>a manager.</a><br><br>

                    </div>


                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>



        <!-- MODAL FOOTER -->

        <div class="modal-footer" style="border: none;" *ngIf="addgroupbutton==true">


          <!-- DELETE BUTTON -->

          <button id="buttonstyle" style="margin-right: 2.83in; height:36.4688px " type="button" data-backdrop='static'
            (click)="DelOpen()"><i class="fa fa-trash-o"></i> Delete</button>

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true" [ngStyle]="{'display': exampleModalOpen ? 'block' : 'none', 'opacity': 1}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Group?</h5>
                  <button type="button" class="close" (click)="closeDeleteModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-2" style="margin-top: .7cm;">
                      <img style="height: 65%; " src="../assets/img.png">

                    </div>
                    <div class=" col-md-10" style="margin-top: 1cm;">

                      <p>
                        The "Admins" group will be permanantly deleted <br>
                        <a style="opacity: 60%;">This cannot be undone. Are you sure you want to coninue?</a>

                      </p>

                    </div>
                  </div>
                </div>

                <div class="modal-footer">

                  <button type="button" class="btn btn-secondary">Confirm Deletion</button>
                  <button type="button" class="btn btn-primary" (click)="closeDeleteModal()">Cancel</button>
                </div>
              </div>
            </div>
          </div>




          <!-- CANCEL BUTTON -->

          <button type="button" id="buttonstyle" style=" height:36.4688px" (click)="CanOpen()"
            data-backdrop='static'>Cancel</button>
          <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true" [ngStyle]="{'display': exampleModal1Open ? 'block' : 'none', 'opacity': 1}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Discard Changes?</h5>
                  <button type="button" class="close" (click)="closeCanModalOnCancel()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="height: 1.5in;">
                  <div class="row">
                    <div class="col-md-3" style="margin-top: .7cm;">
                      <img style="height: 65%; margin-left: .5cm; " src="../assets/img.png">
                    </div>
                    <div class=" col-md-9" style="margin-top: 1cm;">
                      <p>
                        You unsaved changes that will be lost. <br>
                        <a style="opacity: 60%;">Are you sure you want to navigate away?</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" (click)="closeCanModal()" class="btn btn-secondary">Discard changes</button>
                  <button type="button" class="btn btn-primary" (click)="closeCanModalOnCancel()">Continue Editing</button>
                </div>
              </div>
            </div>
          </div>


          <!-- SAVE BUTTON -->

          <button type="button" *ngIf="saveUpdate==false" style="font-size: 10pt;" class="btn btn-primary"
            (click)="startTimer(60)">Save</button>
          <div class="modal fade" id="loader" data-backdrop="static" tabindex="-1" role="dialog"
            aria-labelledby="staticBackdropLabel" aria-hidden="true"
            [ngStyle]="{'display': loaderOpen ? 'block' : 'none', 'opacity': 1}">
            <div class="modal-dialog" role="document">
              <div class="modal-content">

                <div class="modal-body">
                  <p style="text-align: center;">Saving...</p>
                  <div style="margin-left: 20px; " class="spinner-border text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="alertSuc">
            <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
              [ngStyle]="{'display': alert1Open ? 'block' : 'none', 'opacity': 1}">
              <div class="modal-dialog" role="document">
                <div class="modal-content" id="alertBox">

                  <div class="modal-body">
                    Successfully saved the "{{groupName}}" group </div>

                </div>
              </div>
            </div>
          </div>
          <button type="button" *ngIf="saveUpdate==true"  style="font-size: 10pt;" class="btn btn-primary"
          (click)="updateSave(60)">Save</button>
        </div>


      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>


</body>

</html>