<html>

<head>
    <style> </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>


<body>
    <!-- <br>
    <button type="button" (click)="showModal()"></button>
    <br> -->
    
   
<!-- 
  Button trigger modal  <i class="fa fa-gear fa-spin" style="font-size:17px"></i>
<br>
    <button type="button"  data-toggle="modal" data-target="#staticBackdrop">
        Call Recording Setting
     </button>
     <br>
     <br>

     
         <table >
             <tr *ngFor='let item of userArray' style="width: 200px;">
                    <button id="leftList" style="width: 100%;" (click)=userSelected(item.UserId)>
                        <td style="width: 100px;text-align: left;">{{item.Firstname}} {{item.Lastname}}</td>
                        <td style="padding-left: 20px;text-align: right;width: 100px;">{{item.UserId}}</td>
                    </button>
             </tr> 
         </table> -->

        
         
     
      

 <!-- Modal [ngStyle]="{'display': modalOpen ? 'block' : 'none', 'opacity': 1}" -->
    <!-- <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered  " role="document" >

            <div class="modal-content" style="height: 6.8in; width: 10in;">

                Modal Heading --> 
            <div class="modal-header">
                    <h6 class="modal-title" >Change Settings for Call Recordings</h6>      
            </div> 

                <form (ngSubmit)="UserDetails()">

                <!-- Modal Body -->
                <div class="modal-body">
                        
                    <!-- Role Dropdown -->
                    <label >Record Management Access <ng-template #popContent  >
                        <div style="color: white; font-size: 83.33%pt; font-weight: 200;">
                        
                        <p >•	None: the user may not manage recordings (even their own).</p>

                        <p>•	Own Recordings: the user may only manage their own recordings.</p>

                        <p> •    Group Recordings: the user may manage their own recording and any group listed under "Group Manager" below.</p>

                        <p>•	All Recordings: the user may manage recordings for all users of the sytem.</p>
                    </div>
                        </ng-template>
                        
                         <img src="./assets/infocircle.png" height="22" width="22" placement="auto" conatiner="body" [ngbPopover]="popContent" popoverClass="my-custom-class"> 
                    </label>

                    <div class="form-group">
                        <select  class="form-control" [(ngModel)]="role" [ngModelOptions]="{standalone: true}" id="exampleFormControlSelect1" style="list-style:none" (change)="GetRoleValue($event)">
                            
                                <option [ngValue]="role" *ngFor="let role of roles">{{role}}</option>
                        </select>
                        
                    </div>
<!-- 
                    Group Manger *ngIf="role!='Group Recordings'" -->
                    <div  >
                    <label >Group Manager</label>

                        <ng-select #elem [items]="item$ | async" 
                        [typeahead]="peopleInput$"  
                        bindLabel="group_name" 
                        bindValue="group_uuid"
                        [multiple]="true" 
                        [minTermLength]="2" 
                        placeholder="Start typing a group name" 
                        [(ngModel)]="selectedPersons" 
                        [ngModelOptions]="{standalone: true}"
                        typeToSearchText="Please enter 3 or more characters"
                        notFoundText = ""
                        appendTo="body"
                        id="groupManager"
                        (add)="OnAddGroupManager()"
                        [disabled]="flag">

                        <!--    [closeOnSelect]="true" [hideSelected]="true" (remove)="OnRemove()"(add)="OnAdd()"  (blur) = "OnBlur()"  id="groupManager" (change)="GetManagerValue($event)" -->

                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                            <span class="ng-value-label">{{item.group_name}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </ng-template>

                        </ng-select>

                        <p><small>The user can manage recordings for any members of listed groups</small>
                        </p>

                    </div>



                    <!-- Group Member -->
                    <label>Group Member</label>
                        <ng-select #eleme2 [items]="item$| async" 
                        bindLabel="group_name" 
                        bindValue="group_uuid"
                        [multiple]="true"  
                        [minTermLength]="2" 
                        typeToSearchText="Please enter 3 or more characters"
                        notFoundText = "" 
                        [typeahead]="peopleInput$"
                        [(ngModel)]="selectedPersons1"
                        placeholder="Start typing a group name" 
                        appendTo="body"
                        [ngModelOptions]="{standalone: true}"
                        (add)="OnAddGroupMember()"
                       >

                        <!--   (blur) = "OnBlur()"
                        [closeOnSelect]="true"
                        (add)="OnAdd()"
                        (remove)="OnRemove()" [hideSelected]="true"(change)="GetMemberValue($event)" -->

                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                            <span class="ng-value-label">{{item.group_name}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                        </ng-template>
                        
                        </ng-select>

                        <p >
                            <small>The user's recordings can be managed by managers in listed groups</small>
                        </p>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                    <button type="submit" class="btn btn-primary" > Save</button>
                </div>
                </form>

        
    


    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous">
    </script>
    


</body>
</html>
