#exampleFormControlSelect1{
    background-image: linear-gradient(to right,rgb(241, 235, 235),rgb(255, 255, 255),rgb(241, 235, 235));
    border-radius:2pt ;
}
.popover-body{
    background-color:rgb(43, 41, 41); 
}
/* .popover.bottom .arrow {
    right:90% !important;
} */
/* .ng-select .ng-clear-wrapper .ng-clear {
    bottom: 0mm;
    
} */
.popover.arrow{
    background-color: black;
}
/* #staticBackdrop{
 
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    } */


/* #leftList{
    
    border: none;
   
    padding: 8px;
    background-color: white;  
}

#leftList:focus{
    color: rgb(0, 89, 255);
    background-color: rgb(229, 242, 245);
    outline: none;
}
#leftList:target{
    color: rgb(0, 89, 255);
    background-color: rgb(229, 239, 245);
    outline: none;
} */